@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

body {
  background-color: rgb(244, 100, 62);
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
